<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portrait Image Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/r3_ele.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <div class="team-container">
            <h1 class="animated-heading">{{ team }}</h1>
        </div>

        <div class="image-wrapper">
            <img id="result-image" class="curved-image" src="{% static 'img/virat.jpg' %}"  width="560" height="540">
        </div>
    </div>

    <script>
        document.addEventListener('keydown', function(event) {
            if (event.code === 'Enter') {
                setTimeout(function() {
                    window.location.href = '/r5';  
                }, 1000);
            }
        });
    </script>
</body>
</html>
